<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'manager/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/bootstrap-theme.min.css' %}">
    <script src="{% static 'manager/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'manager/styles.css' %}">
</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'manager:index' %}">Home</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
        {% if user.is_authenticated %}

            <li class="active"><a href="{% url 'manager:add_item'%}">Dodaj przedmiot</a></li>
            <li class="active"><a href="{% url 'manager:logout'%}">Wyloguj się</a></li>

        {% else %}

            <li class="active"><a href="{% url 'manager:register'%}">Załóż konto</a></li>
            <li class="active"><a href="{% url 'manager:login'%}">Zaloguj się</a></li>

        {% endif %}
        </ul>
    </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>